<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="/img/auscert-logo.png">
			</div>
		</div>
	</div>

	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="https://www.auscert.org.au/main">Home</a></li>
				<li><a href="https://www.auscert.org.au/main/about">About</a></li>
				<li><a href="https://www.auscert.org.au/main/services">Services</a></li>
				<li><a href="https://www.auscert.org.au/main/resources">Resources</a></li>
				<li><a href="https://www.auscert.org.au/main/events">Events</a></li>
			</ul>
			
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search Site">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="banner"></div>
	</nav>
</header>

<ui-view name="app"></ui-view>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-xs-3">
						<h4><a href="https://www.auscert.org.au/main">Home</a></h4>
						<ul>
							<li><a href="https://www.auscert.org.au/main/about">About</a></li>
							<li><a href="https://www.auscert.org.au/main/about/contact-us">Contact</a></li>
							<li><a href="https://www.auscert.org.au/main/about/sitemap">Sitemap</a></li>
							<li><a href="https://www.auscert.org.au/main/about/legal">Legal</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4><a href="https://www.auscert.org.au/main/services">Services</a></h4>
						<ul>
							<li><a href="https://www.auscert.org.au/main/services/becoming-a-member">Become a Member</a></li>
							<li><a href="https://www.auscert.org.au/main/services/incident-management-services">Incident Management Services</a></li>
							<li><a href="https://www.auscert.org.au/main/services/incident-management-services">Early Warning Service</a></li>
							<li><a href="https://www.auscert.org.au/main/services/incident-management-services">Malicious URL Feed</a></li>
							<li><a href="https://www.auscert.org.au/main/services/remote-monitoring-service">Remote Monitoring Service</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4><a href="https://www.auscert.org.au/main/resources">Resources</a></h4>
						<ul>
							<li><a href="http://www.auscert.org.au/render.html?cid=1">Bulletins</a></li>
							<li><a href="https://www.auscert.org.au/main/resources/blog">AusCERT Blog</a></li>
							<li><a href="https://www.auscert.org.au/main/resources/faq">FAQ</a></li>
						</ul>
					</div>
					<div class="col-xs-3">
						<h4><a href="https://www.auscert.org.au/main/resources/publications">Publications</a></h4>
						<ul>
							<li><a href="https://www.auscert.org.au/main/resources/publications/guidelines">Best Practise Guidelines</a></li>
							<li><a href="https://www.auscert.org.au/main/resources/publications/newsletters">Newsletters</a></li>
							<li><a href="https://www.auscert.org.au/main/resources/publications/presentations">Presentations</a></li>
							<li><a href="https://www.auscert.org.au/main/resources/publications/reports">Reports</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<h4><a href="https://www.auscert.org.au/main/events">Events</a></h4>
				<h4><a href="https://www.auscert.org.au/main/news">News</a></h4>
				<h4><a href="https://www.auscert.org.au/main/member">Members Area</a></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<a href="https://www.auscert.org.au/main/about/legal/disclaimer">Disclaimer</a> |
				<a href="https://www.auscert.org.au/main/about/legal/privacy">Privacy</a> |
				<a href="https://www.auscert.org.au/main/about/legal/copyright">Copyright</a>
			</div>
		</div>
	</div>
</footer>